@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Lobster&family=Nunito:wght@300;400;500;600;700&display=swap");

#root {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.5;
}

.sheetal {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #ff4faa;
}

#modal-modal-title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ff148d;
}

#modal-modal-description {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 20vh;
}

.buttons {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #ff4faa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  flex: 1;
  outline: none;
  border: none;
}

.buttons:focus {
  outline: none;
}

.buttons:hover {
  background-color: #ff4faa;
  transform: translateY(-2px);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
